<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zuma.mapper.ZumaUserRelationBeanMapper" >
  <resultMap id="BaseResultMap" type="com.zuma.entity.ZumaUserRelationBean" >
    <id column="f_id" property="fId" jdbcType="VARCHAR" />
    <result column="f_user_id" property="fUserId" jdbcType="VARCHAR" />
    <result column="f_super_user_id" property="fSuperUserId" jdbcType="VARCHAR" />
    <result column="f_state" property="fState" jdbcType="INTEGER" />
    <result column="f_create_id" property="fCreateId" jdbcType="VARCHAR" />
    <result column="f_create_type" property="fCreateType" jdbcType="INTEGER" />
    <result column="f_create_time" property="fCreateTime" jdbcType="TIMESTAMP" />
    <result column="f_update_id" property="fUpdateId" jdbcType="VARCHAR" />
    <result column="f_update_type" property="fUpdateType" jdbcType="INTEGER" />
    <result column="f_update_time" property="fUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    f_id, f_user_id, f_super_user_id, f_state, f_create_id, f_create_type, f_create_time, 
    f_update_id, f_update_type, f_update_time
  </sql>
  
  
  <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        <trim suffixOverrides=",">
            <if test="fId != null and fId != ''">
                and f_id = #{fId}
            </if>
            <if test="fUserId !=null and fUserId != ''">
                and f_user_id=#{fUserId}
            </if>
            <if test="fSuperUserId !=null and fSuperUserId != ''">
                and f_super_user_id=#{fSuperUserId}
            </if>
            <if test="fState !=null ">
                and f_state=#{fState}
            </if>
            <if test="fCreateId !=null and fCreateId != ''">
                and f_create_id=#{fCreateId}
            </if>
            
            
            <if test="fCreateType !=null ">
                and f_create_type=#{fCreateType}
            </if>
            <if test="fCreateTime !=null ">
                and f_create_time=#{fCreateTime}
            </if>
            <if test="fUpdateId !=null and fUpdateId != ''">
                and f_update_id=#{fUpdateId}
            </if>
            <if test="fUpdateType !=null ">
                and f_update_type=#{fUpdateType}
            </if>
            <if test="fUpdateTime !=null ">
                and f_update_time=#{fUpdateTime}
            </if>
        </trim>
    </sql>
  
  
  
  <select id="findCountByConditions" resultType="java.lang.Integer" parameterType="com.zuma.entity.ZumaUserRelationBean">
        select count(1) from zuma_user_relation where 1 = 1
        <include refid="Example_Where_Clause" />
    </select>

    <select id="findPageByConditions" resultMap="BaseResultMap" parameterType="com.zuma.entity.ZumaUserRelationBean">
        select 
        <include refid="Base_Column_List" />
        from zuma_user_relation
        where 1=1
        <include refid="Example_Where_Clause" />
        limit #{iDisplayStart},#{iDisplayLength}
    </select>
  
  
  	<select id="findListByConditions" resultMap="BaseResultMap" parameterType="com.zuma.entity.ZumaUserRelationBean">
        select
        <include refid="Base_Column_List" />
        from zuma_user_relation
        where 1=1
        <include refid="Example_Where_Clause" />
    </select>
  
  
  	<!-- <select id="findById" resultMap="BaseResultMap" parameterType="com.zuma.entity.ZumaUserRelationBean">
        select
        <include refid="Base_Column_List" />
        from zuma_user_relation
        where 1=1
        #{id}
    </select> -->
  
  
  
  <insert id="add" parameterType="com.zuma.entity.ZumaUserRelationBean">
        insert into zuma_user_relation
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="fId != null" >
	        f_id,
	      </if>
	      <if test="fUserId != null" >
	        f_user_id,
	      </if>
	      <if test="fSuperUserId != null" >
	        f_super_user_id,
	      </if>
	      <if test="fState != null" >
	        f_state,
	      </if>
	      <if test="fCreateId != null" >
	        f_create_id,
	      </if>
	      <if test="fCreateType != null" >
	        f_create_type,
	      </if>
	      <if test="fCreateTime != null" >
	        f_create_time,
	      </if>
	      <if test="fUpdateId != null" >
	        f_update_id,
	      </if>
	      <if test="fUpdateType != null" >
	        f_update_type,
	      </if>
	      <if test="fUpdateTime != null" >
	        f_update_time,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="fId != null" >
	        #{fId,jdbcType=VARCHAR},
	      </if>
	      <if test="fUserId != null" >
	        #{fUserId,jdbcType=VARCHAR},
	      </if>
	      <if test="fSuperUserId != null" >
	        #{fSuperUserId,jdbcType=VARCHAR},
	      </if>
	      <if test="fState != null" >
	        #{fState,jdbcType=INTEGER},
	      </if>
	      <if test="fCreateId != null" >
	        #{fCreateId,jdbcType=VARCHAR},
	      </if>
	      <if test="fCreateType != null" >
	        #{fCreateType,jdbcType=INTEGER},
	      </if>
	      <if test="fCreateTime != null" >
	        #{fCreateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="fUpdateId != null" >
	        #{fUpdateId,jdbcType=VARCHAR},
	      </if>
	      <if test="fUpdateType != null" >
	        #{fUpdateType,jdbcType=INTEGER},
	      </if>
	      <if test="fUpdateTime != null" >
	        #{fUpdateTime,jdbcType=TIMESTAMP},
	      </if>
	    </trim>
	  </insert>

	
    <update id="modify" parameterType="com.zuma.entity.ZumaUserRelationBean">
	     update zuma_user_relation
	    <set >
	      <if test="fUserId != null" >
	        f_user_id = #{fUserId,jdbcType=VARCHAR},
	      </if>
	      <if test="fSuperUserId != null" >
	        f_super_user_id = #{fSuperUserId,jdbcType=VARCHAR},
	      </if>
	      <if test="fState != null" >
	        f_state = #{fState,jdbcType=INTEGER},
	      </if>
	      <if test="fCreateId != null" >
	        f_create_id = #{fCreateId,jdbcType=VARCHAR},
	      </if>
	      <if test="fCreateType != null" >
	        f_create_type = #{fCreateType,jdbcType=INTEGER},
	      </if>
	      <if test="fCreateTime != null" >
	        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="fUpdateId != null" >
	        f_update_id = #{fUpdateId,jdbcType=VARCHAR},
	      </if>
	      <if test="fUpdateType != null" >
	        f_update_type = #{fUpdateType,jdbcType=INTEGER},
	      </if>
	      <if test="fUpdateTime != null" >
	        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
	      </if>
	    </set>
	    where f_id = #{fId,jdbcType=VARCHAR}
	 </update>

    <delete id="delete" parameterType="com.zuma.entity.ZumaUserRelationBean">
        delete from zuma_user_relation
        where 1= 1
        <include refid="Example_Where_Clause" />
    </delete>
</mapper>